<div id="topheadermenu" style="text-align: center;">
    <div id="middlecenter" style="position: relative; left: 50px; top: 80px; width: 300px;">
        <ul id="middlemenu">
            <li><a class="btn" ui-sref="myActions">My Actions</a></li>
            <li><a class="btn" ui-sref="newESAE">Create New eSAE</a></li>
            <li><a class="btn" ui-sref="myDraft">My Draft</a></li>
            <li><a class="btn" ui-sref="mySubmitCases">My Submit Cases</a></li>
            <li><a class="btn" ui-sref="allCases">All Cases</a></li>
        </ul>
    </div>
</div>
<!--<div class="row">-->
    <!--<div class="well">-->
        <!--<h3>This is home page.</h3>-->
        <!--<a ui-sref="about" class="btn btn-primary">About</a>-->
        <!--<a ui-sref="home.list" class="btn btn-info">List</a>-->
    <!--</div>-->

    <!--<div class="container">-->
        <!--<div ui-view></div>-->
    <!--</div>-->
<!--</div>-->