
<div>
    <table class="table table-bordered">
        <tr>
            <th style="background-color:#D3D3D3">Case Id {{id}}</th>
        </tr>
        <tr>
            <th colspan="8" class="bg-primary" style="background-color:">Adeverse Event Details</th>
        </tr>
        <tr>
            <th><input type="checkbox" ng-model="check" ></th>
            <th>Adeverse Event</th>
            <th>Serious</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Toxicity Grade</th>
            <th>Casuality Factors</th>
            <th>Out Come</th>
        </tr>
        <tr ng-repeat="adverse in adverseEvents">
            <td></td>
            <td>{{adverse.adverseEvent}}</td>
            <td>{{adverse.Serious}}</td>
            <td>{{adverse.StartDate}}</td>
            <td>{{adverse.EndDate}}</td>
            <td>{{adverse.ToxicityGrade}}</td>
            <td>{{adverse.CasualityFactors}}</td>
            <td>{{adverse.Outcome}}</td>
        </tr>
    </table>
</div>

<div>
    <table class="table table-bordered">
        <tr>
            <th colspan="4" class="bg-primary" style="background-color:">Concomitant Medications Details</th>
            <th colspan="4" class="bg-primary" style="background-color:">There are no associated Concomitant Medications.
                <input type="checkbox" value="" disabled>
            </th>
        </tr>
        <tr>
            <th><input type="checkbox" ng-model="check" ></th>
            <th>Name of Medication</th>
            <th>Start Date</th>
            <th>Ongoing ?</th>
            <th>Reason for Medication (indication)</th>
            <th>Reason for Medication</th>
        </tr>
        <tr ng-repeat="medication in medicationDetails">
            <td></td>
            <td>{{medication.medicationName}}</td>
            <td>{{medication.StartDate}}</td>
            <td>{{medication.Ongoing}}</td>
            <td>{{medication.reasonForMedi}}</td>
            <td>{{medication.reasonForMedic}}</td>
        </tr>
    </table>
</div>

<div>
    <table class="table table-bordered">
        <tr>
            <th colspan="4" class="bg-primary" style="background-color:">Concomitant Procedures Details</th>
            <th colspan="4" class="bg-primary" style="background-color:">There are no associated Procedures Medications.
                <input type="checkbox" value="" >
            </th>
        </tr>
        <tr>
            <th><input type="checkbox" ng-model="check" ></th>
            <th>Name Of Procedure</th>
            <th>Start Date</th>
            <th>Ongoing ?</th>
            <th>Reason for Medications (indication)</th>
            <th>Reason for Medication</th>
        </tr>
        <tr ng-repeat="procedure in procedureDetails">
            <td></td>
            <td>{{procedure.procedureName}}</td>
            <td>{{procedure.StartDate}}</td>
            <td>{{procedure.Ongoing}}</td>
            <td>{{procedure.reasonForMedi}}</td>
            <td>{{procedure.reasonForMedic}}</td>
        </tr>
    </table>
</div>

<div>
    <table class="table table-bordered">
        <tr>
            <th colspan="4" class="bg-primary" style="background-color:">Medical History Details</th>
            <th colspan="4" class="bg-primary" style="background-color:">There are no associated Medical History.
                <input type="checkbox" value="" disabled >
            </th>
        </tr>
        <tr>
            <th><input type="checkbox" ng-model="check" ></th>
            <th>Condition</th>
            <th>Start Date</th>
            <th>Related to Study Condition?</th>
            <th>Ongoing?</th>
        </tr>
        <tr ng-repeat="history in historyDetails">
            <td></td>
            <td>{{history.condition}}</td>
            <td>{{history.StartDate}}</td>
            <td>{{history.studyCondition}}</td>
            <td>{{history.ongoing}}</td>
        </tr>
    </table>
</div>

<div>
    <table class="table table-bordered">
        <tr>
            <th colspan="8" class="bg-primary" style="background-color:">Case Description</th>
        </tr>
        <tr>
            <th><textarea ng-model="check" rows="3" cols="120"></textarea></th>

        </tr>
    </table>
</div>
<div>
    <button type="button" class="btn btn-primary">Save as Draft</button>
    <button type="button" class="btn btn-success">Submit for Review</button>
    <button type="button" class="btn btn-danger">Cancel</button>
</div>