<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <div ng-cloak>
            <div class="container" style="width: 100%;">
                <div id="error_container" style="width: 85%; height: 15px; text-align: center; vertical-align: middle;
                            padding-top: 4px; padding-bottom: 0px; padding-left: 208px;">
                    &nbsp;
                </div>
                <div class="row profile">
                    <div class="col-md-12 col-lg-12 col-xs-12" style="padding-left: 20px;">
                        <div class="profile-content">
                            <div class="container" style="width: 100%;">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-xs-12" style="width: 100%; padding-left: 0px;">
                                        <div class="modal" ng-show="showLoadingImg" id="progress" index="-1"
                                             role="dialog"
                                             aria-labelledby="progress"
                                             aria-hidden="true" data-backdrop="static">
                                            <div class="modal-dialog" style="width: 62px; height: 30PX; background-color: Gray;">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <img src="Images/ajax-loader.gif" width="30px" height="30px" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-group">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" style="background-color: #DDDDDD; color: #000000;font-size:14px; padding: 4px 2px 4px 2px;">
                                                    <b>My Actions</b>
                                                    <!--<div style="float: right;">
                                                        <a data-placement="left" data-toggle="popover" id="showPopover" data-container="body"
                                                            type="button" data-html="true" href="#" id="login"><i class="glyphicon glyphicon-align-justify">
                                                            </i></a>
                                                    </div>
                                                    <div id="popup-content" class="hide">
                                                        <ul id="menubutton">
                                                            <li id="li3"><a href="#" id="togglemyaction" ng-click="myActions()">My Actions</a></li>
                                                            <li><a href="#" id="togglenewcase" ng-click="newCasefn()">Create New eSAE</a></li>
                                                            <li><a href="#" id="toggle" ng-click="manageCase()">My Draft</a></li>
                                                            <li><a style="pointer-events: none; cursor: default;" href="#" id="A3">My Submit Cases</a></li>
                                                            <li><a style="pointer-events: none; cursor: default;" href="#" id="A4">All Cases</a></li>
                                                        </ul>
                                                    </div>-->
                                                </div>
                                                <div class="panel-body" style="width: 100%;">
                                                    <div class="gridWidthWrapper">
                                                        <div class="mnggridStyle" ng-grid="gridOptionsMA">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>
